<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> newcars-info post }}
  </li>
  {{/each}}
</ol>

<hr>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> usedcars-info post }}
  </li>
  {{/each}}
</ol>